@use "sass:list";

$off-black: #141414;

$background-colors: #f79256, #fbd1a2, #1d4e89, #7dcfb6, #00b2ca;

.container {
  padding: 24px;
  font-size: 36px;
  margin: 0 auto;
  .not-ready {
    font-size: 96px;
    margin: 36px auto;
  }
  .subtitle {
    font-size: 56px;
    margin-bottom: 0.5em;
  }
  .links-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .link-item {
      color: $off-black;
      padding-left: 12px;
      margin: 6px 0;
    }
    .social-link-logo-container {
      display: flex;
      height: 200px;
      width: 200px;
      a {
        transition: all 0.3s ease-in-out;
        height: 150px;
        width: 150px;
        margin: auto;
        .social-link-logo {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.strikethrough {
  text-decoration: line-through;
  .skull {
    width: 36px;
    height: 36px;
  }
}

.logo {
  display: fixed;
  flex-direction: column;
  align-items: flex-end;
  a {
    color: black;
  }
}

.narrow-logo {
  display: none;
  .narrow-logo-text {
    font-size: 76px;
    text-align: center;
    border-bottom: 5px solid list.nth($background-colors, 5);
    margin-bottom: 5px;
  }
  .narrow-links {
    display: flex;
    justify-content: center;
    .social-link-logo {
      margin: 5px;
      width: 36px;
      height: 36px;
    }
  }
}

@media only screen and (max-width: 720px) {
  .container {
    .not-ready {
      text-align: center;
    }
  }
  .narrow-logo {
    display: block;
  }
}

@each $color in $background-colors {
  $i: list.index($background-colors, $color) - 2;
  .social-link-logo-container:nth-of-type(#{$i}) a {
    cursor: pointer;
    &:hover {
      fill: $color;
      height: 200px;
      width: 200px;
    }
  }
  .container {
    .links-list {
      .link-item:nth-of-type(#{$i}) {
        border-left: 2px $color solid;
        &:hover {
          border-left-width: 8px;
        }
      }
    }
  }
}
