$off-black: #141414;
$off-white: #fbfbf8;

body {
  margin: 0;
  height: 100vh;
  display: flex;
  font-family: "Amatic SC", cursive;
  background-color: $off-white;
  color: $off-black;
}

.logo {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 3em;
}
.logo-section {
  border-radius: 40%;
  transition: all 2s ease-in-out;
}

a {
  text-decoration: none;
}
